<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>My home</h1>

<p th:text="${myUser.userId}"></p>
<p th:text="${myUser.email}"></p>

<a href="/hello">Go to hello page</a></br>
<img width="100" height="100" th:src="@{/images/dog.png}"/>

<form method='post' action='/login'>
    帳號: <input type="text" name="userName"></br>
    密碼: <input type="text" name="userPassword">
    <input type="submit" value="登入">
</form>

</body>
</html>